/**
* @package pardusthecat
*
*
**/
@font-face {
  font-family: "kaibart";
  src: url("../fonts/kaibart.eot?49xiz");
  src: url("../fonts/kaibart.eot?49xiz#iefix") format("embedded-opentype"), url("../fonts/kaibart.ttf?49xiz") format("truetype"), url("../fonts/kaibart.woff?49xiz") format("woff"), url("../fonts/kaibart.svg?49xiz#kaibart") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Nueva";
  src: url("../fonts/NuevaStd-BoldCond.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.kaiba {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "kaibart" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kaiba-logo:before {
  content: "\e900";
  color: #fff;
  vertical-align: middle;
  font-size: 5rem;
}

.navlogo {
  font-size: 5rem;
}

.promo-text {
  color: #ffffff;
  width: 100%;
  font-size: 1.6rem;
}

.topbar {
  color: #ffffff;
  font-size: 1.6rem;
}
.topbar a {
  text-decoration: none;
  color: #ffffff;
}

#topbar a {
  text-decoration: none;
}
#topbar a:hover {
  color: #e8e2ca;
}

.pardus-content {
  font-size: 1.6rem;
}

.pardus-logo-text {
  font-family: "Nueva";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  z-index: 20;
  font-size: 5rem;
  font-weight: 100;
}

.pardus-logo-text strong {
  font-weight: 400;
}

.pardus-logo-text a {
  color: #ffffff;
  text-decoration: none;
}

.logo {
  vertical-align: middle;
  font-size: 4rem;
  color: #ffffff;
  padding: 0 10px;
}

* *::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.t-small {
  font-size: 0.85rem;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.push-right {
  margin-right: 20px;
}

.nav-container {
  position: absolute;
  width: 100%;
}

.topnav {
  width: 100%;
  background-color: rgba(33, 48, 105, 0.7);
  display: inline-block;
}

.topnav-row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.navbar-sidebar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.site-header {
  width: 100%;
  height: 450px;
  background-image: url("../img/headerbg.jpeg");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.header-top-bar {
  background-color: #000000;
}

.header-container {
  position: relative;
  display: block;
  height: 45rem;
  background-image: url("../img/headerbg.jpeg");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.topbar {
  width: 100%;
  background-color: #a82652;
  display: inline-block;
}

.topbar-row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.topbar-sidebar {
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
}

.page {
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: #e8e2ca;
}

.pardus-container {
  width: 165rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.row {
  --bs-gutter-x: 0;
}

.header-content {
  width: 100%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.widget {
  margin-bottom: 0;
  line-height: 1;
  position: relative;
  padding-right: 2rem;
}
.widget:not(:first-child) {
  padding-left: 2rem;
}
.widget::after {
  background-color: #e1e1e1;
  width: 2px;
  height: 1.4rem;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.widget .search-form {
  position: relative;
}

.widget .search-form input {
  width: 100%;
  border: 1px solid #9d9d9d;
  padding: 1rem 1.5rem;
  padding-right: 5.5rem;
  font-size: 1.4rem;
}

.widget .search-form button {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  border: none;
  width: 5rem;
  padding-top: 5px;
  color: #9d9d9d;
  background-color: transparent;
  cursor: pointer;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/*# sourceMappingURL=pardus-style.css.map */
