$white: #ffffff;
$black: #000000;
$beige: #e8e2ca;
$dark-beige: #cdc0a0;

$light-grey: #e1e1e1;
$grey: #9d9d9d;
$dark-grey: #353535;

$blue-primary: #0062d0;
$blue-dark: #014088;
$blue-black: #00254e;

$p-color: #a82652;
$s-color: #213069;
$t-color: #020c18;
$f-color: #516472;

$light-1: #a5a89d;
$light-2: #809296;
$light-3: #657992;

$dark-1: #40527a;
$dark-2: #1a294a;
$dark-3: #020c18;

// Style scheme 01

// Style scheme 02

// Style scheme 03
