/*
*   @package pardusthecat
*
*
*/

/* Generic */

body,
html {
	height: 100%;
	margin: 0 auto;
}
body {
}
.top-bar {
	width: 100%;
	background-color: aquamarine;
}

.table {
	display: table;
	width: 100%;
	height: 100%;
	.table-cell {
		display: table-cell;
		width: 100%;
		height: 0100%;
		vertical-align: middle;
	}
}

.background-image {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
/*  Header */
.header-container {
	position: relative;
	display: block;
	height: 326px;
}
.site-description {
	font-size: 14px;
	color: #fff;
	margin-top: 1em;
}
.site-title {
	color: #fff;
	font-size: 80px;
}
.nav-container {
	position: absolute;
}
