.nav-container {
	position: absolute;
	width: 100%;
}
.topnav {
	width: 100%;
	background-color: rgba($s-color, 0.7);
	display: inline-block;
}
.topnav-row {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.navbar-sidebar {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}
