.topbar {
	width: 100%;
	background-color: $p-color;
	display: inline-block;
}

.topbar-row {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.topbar-sidebar {
	padding-top: 1.7rem;
	padding-bottom: 1.7rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: auto;
}
