.t-left {
	text-align: left;
}
.t-right {
	text-align: right;
}
.t-center {
	text-align: center;
}
.t-small {
	font-size: 0.85rem;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.push-right {
	margin-right: 20px;
}
